<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title> Feature Collector </title>
	<link rel="stylesheet" type="text/css" href="/static/collector/leaflet/leaflet.css">
	<link rel="stylesheet" type="text/css" href="/static/collector/bootstrap/css/bootstrap.min.css">
	<style type="text/css">
		.leaflet-popup-content {
			width: 200px;
		}
	</style>
</head>
<body>


<div id="map" style="height:100vh">
	
</div>
<!-- <div>
	<form method="post">
		{% csrf_token %}
        <div class="form-group mb-3">
            <label for="feature_name">Feature name </label>
            <input class="form-control" id="feature_name" name="feature_name" required=""
                placeholder="Enter your feature_name">

            <label for="lat">latitude</label>
            <input class="form-control" id="lat" name="lat" required=""
                placeholder="Enter your lat">

            <label for="lon">longitude </label>
            <input class="form-control" id="lon" name="lon" required=""
                placeholder="Enter your lon">
        </div>
	</form>
</div> -->

<script type="text/javascript" src="/static/collector/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/collector/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/collector/leaflet/leaflet.js"></script>
<script type="text/javascript" src="/static/collector/js/main.js"></script>
<script type="text/javascript" src="/static/collector/js/map.js"></script>
<script type="text/javascript">
	
	map.on('click', function(e, layer){
		let marker = L.marker([e.latlng.lat, e.latlng.lng], {
			draggable: true
		}).addTo(map)

	var popupContent = `
	<div>
		<form method="post" id="form" enctype="multipart/form-data">
			{% csrf_token %}
	        <div class="form-group mb-3">
	            <input class="form-control" id="feature_name" name="feature_name" required=""
	                placeholder="Enter your feature_name">

	            <input class="form-control" id="lat" value=${e.latlng.lat} name="lat" required=""
	                placeholder="Enter your lat">

	            <input class="form-control" id="lon" value=${e.latlng.lng} name="lon" required=""
	                placeholder="Enter your lon">
	        </div>
	        <button type="button" id="save" class="justify-content-center" style="background-color: blue;"> Submit </button>
		</form>
	</div>`
    marker.bindPopup(popupContent).openPopup();

    $("#save").click(function(e){
    e.preventDefault();
    var data = new FormData($('#form').get(0));
    // console.log(data)
    var token = '{{csrf_token}}';
    $.ajax({
        url: "/save_feature", // same url 'action' in form
        type: 'POST',
        headers: { "X-CSRFToken": token },
        data: data,
        contentType: 'multipart/form-data',
        processData: false,
        contentType: false,
        success: function(data) {
            if (data=='done'){
				map.closePopup();
			} else { alert('check  data')}
        }
    });
    return false;
})	
	})



</script>
</body>
</html>